@charset "UTF-8";

html {
  font-size: 62.5%;
}
/* bodyのフォントサイズを1.6em（16px）に設定 */
h1{
  font-size: 2.6rem;
  color: #505050;
  font-weight: normal;
  margin-bottom: 30px;
}
h2{
  font-size: 2.0rem;
  color: #505050;
  font-weight: bold;
}
h3{
  font-size: 1.8rem;
  color: #505050;
  font-weight: normal;
}
h4{
  font-size: 1.7rem;
  color: #388cdc;
  font-weight: bold;
}
p{
font-size: 1.6rem; 
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  padding-top: 100px;
}
a {
  text-decoration: none;
  font-style: 2rem;
}

.title,
.record-title,
.solution-title,
.overview-title,
.able-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem 2rem;
  margin-top: 33px;
}
/* ================================================= */
/* PC用スタイル (960px以上)
/* ================================================= */

/* ----header---- */
.header-mobile {
  display: none;
}
.header {
  background-color: #fff;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  top: 0;
}
.navibar{
  display: grid;
  align-items: center;
  width: 980px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 3.6rem;
}
.logo {
  grid-column: 1;
}
.logo img{
  height: auto;
  width: 80%;
}
.navi-page {
  grid-column: 2;
  display: flex;
  text-align: center;
  justify-self: center; 
  gap: 30px;   
}
.navi-page a{
  color: #505050;
  font-size: 1.6rem;
  margin-right: 20px; 
}
.navi-form {
  grid-column: 3;
  display: flex;
  gap: 16px; 
  font-size: 1.6rem;
}
/* Buttons */
.navi-docform {
  height: 36px;
  width: 125px;
  background: #fff; 
  border-radius: 4px;
  border: #388cdc solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #388cdc;
  font-weight: bold;
}
.navi-docform:hover {
  border: #388cdc solid 3px;
  background-color: #388cdc;
  color: #fff;
}
.navi-contact {
  height: 36px;
  width: 125px;
  background: #f07fc0; 
  border: #f07fc0 solid 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #fff;
  font-weight: bold;
}
.navi-contact:hover,
.navi-contact:active {
  background-color: #ee3ea4;
  border: #ee3ea4 solid 3px;
}


/* ----hero---- */
.hero-container { background: #388cdc; }
.hero{
  width: 980px; /* 固定幅 */
  margin: 0 auto; 
  display: flex;
  padding: 65px 2rem;
  justify-content: center;
  align-items: center;
}
.hero-title h1 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  padding-top: 0;
}
.hero-title p {
  text-align: center;
  margin-top: 16px;
  color: #fff;
}

/* ----overview---- */
.overview-container{ background: #fff; }
.overview{
  width: 980px; /* 固定幅 */
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.overview-body{
  width: 80%;
  gap: 20px; 
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3列 */
}
.overview-box{
  width: 184px;
  height: 48px;
  margin: 0 auto;
  border: #bbbbbb solid 1px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
}
.overview-box img { width: 30px; height: auto; }

/* ----able--- */
.able-body-mobile{
  display: none;
}
.able-container{ background: #f0f8ff; }
 .able {
  width: 980px; /* 固定幅 */
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.able-body{ width: 80%; }
.able-box {
  width: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  background-color: #fff;
  border: #bbbbbb solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.able-text h2{
  color: #388cdc;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.able-text p{
  text-align: left;
  flex: 1;
  color: #505050;
  padding-bottom:20px
}
.able-img img{
  width: auto;
  max-height: 160px;
  max-width: 300px;
  padding: 0 40px;
}

/* ----features---- */
.features-container{ background: #fff; }
.features{
  width: 980px; /* 固定幅 */
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.ft-body{
  width: 95%;
  gap: 20px; 
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3列 */
}
.ft-box{
  text-align: center;
  justify-items: center;
  border: #D9D9D9 solid 1px;
  padding: 2rem 1rem ;
  background-color: #fff;
}
.ft-box img{
  display: block;
  width: 50%;
  margin: 8px auto;
}
.ft-box h2, .ft-box p{ text-align: center; margin: 10px 0; }
.ft-p-mobile{
  display: none;
}
/* ----cta---- */
.cta-container{
  background: #deedfc;
}
.cta{
  width: 980px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 2rem;
}
.cta-body{
  display: flex;
  gap: 60px; 
}
/* Buttons */
.try-cta {
  height: 50px;
  width: 180px;
  background: #fff; 
  border-radius: 4px;
  border: #388cdc solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #388cdc;
  font-weight: bold;
  font-size: 1.8rem;
}
.try-cta:hover ,
.try-cta:active{
  border: #388cdc solid 3px;
  color: #fff;
  background-color: #388cdc;
}
.try-cta img {
  width: 20px;
  height: 20px;
}
.contact-cta {
  height: 50px;
  width: 180px;
  background: #f07fc0; 
  border-radius: 4px;
  border: #f07fc0 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
}
.contact-cta img {
  width: 20px;
  height: 20px;
}
.contact-cta:hover,
.contact-cta:active{
  background-color: #ee3ea4;
  border: #ee3ea4 solid 3px;
}


/* ===record=== */
.record-container {
  background: #fff;
}
.record {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 40px 2rem;
}
.record-title-mobile {
  display: none;
}
.record-body {
  display: flex;
  gap: 20px;
  overflow: hidden; /* スライドの範囲制限 */
  width: 80%;
  position: relative; 
  margin-top: 20px;
}
.record-box {
  text-align: center;
  border: #D9D9D9 solid 1px;
  padding-bottom: 20px;
  background-color: #fff;
  flex-shrink: 0; /* 固定サイズ */
  width: calc(100% / 3 - 20px); 
}
.record-box img {
  width: 100%;
  margin-bottom: 8px;
}
.record-text {
  margin: 0 10px;
}

.record-text h4 {
  margin-bottom: 10px;
}


/* ----bigcta---- */
.bigcta-wrapper-mobile{
  display: none;
}
.bigcta-container{
  background: #fff;
}
 .bigcta {
  width: 980px;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 40px 2rem;
  align-items: center;
  flex-direction: column; 
  align-items: center;
  gap: 16px; 
 }
.bigcta-wrapper {
  width: 90%;
  background-color: #5da2e4;
  padding: 30px 50px;
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  height: 270px; 
}
.bigcta-box {
  margin: auto;
  width: 100%;
}
.bigcta-content{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  height: auto; 
  padding-bottom: 20px;
}
.bigcta-box h2{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: left; 
  margin-bottom: 20px;
}
.bigcta-text p{
  text-align: left; 
  flex: 1; 
  color: #fff;
  font-weight:bold;
  padding-bottom:20px
}
.bigcta-btn,
.bigcta-docbtn {
 height: 50px;
  width: 230px;
  background: #fff; 
  border-radius: 4px;
  border: #5da2e4 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #388cdc;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 50px;
  padding: 0 10px;
}
.bigcta-btn img,
.bigcta-docbtn img {
  width: 20px;
  height: 20px;
}
.bigcta-img {
  width: 35%; 
  padding-bottom: 20px;
  max-width: 300px; 
}
.bigcta-docimg {
  width: 35%; 
  padding-bottom: 20px;
  max-width: 260px; 
}

.bigcta-img{
  padding-top: 44px;
}
/* ===ボタンの色変更=== */
.bigcta-btn:hover,
.bigcta-docbtn:hover {
  border: #FFD966 solid 3px;
  background-color: #faf6eb;
}


/* --footer-- */
.footer {
  height: 50px;
}
.footer-navibar{
  width: 90%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #fff;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.footer-logo{
  grid-column: 1;
}
.footer-logo img{
  width: 150px;
  height: auto;
  padding-left: 30px;
}
footer p{
  padding-right: 30px;
  grid-column: 2;
}

.footer-mobile {
  display: none;
}



/* ================================================= */
/* タブレット用スタイル (480px~959px)             */
/* ================================================= */
@media screen and (min-width:480px) and (max-width:959px) {
/* --- コンテナの横幅を固定から可変に --- */ 
  .navibar, .hero, .overview, .able, .features, .cta, .record, .bigcta, footer .naviber {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
  body {
    padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
    line-height: 1.5;
  }

  h1 { font-size: 2.2rem; margin-bottom: 20px;}
  h2 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.5rem; padding: 0.5em; margin-bottom: 20px;}
  p { font-size: 1.5rem; }

  .small { font-size: 1.8rem; }
  .medium { font-size: 2.4rem; }
  .large { font-size: 2.6rem; }
  
  .title {
    padding: 2rem 1rem;
    margin-top: 20px;
  }
  /* --- ヘッダー --- */
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    top: 0;
  }
  .navibar-mobile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .logo-mobile {
    width: 40%;
    min-width: 110px;
  }
  .btn-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin: 0 auto;
  }
  .navi-form{
    width: 60%;
    justify-content: end;
    padding-right: 60px;
    padding-top: 10px;
  }
  .navi-contact{
    font-size: 1.2rem;
    height: 3rem;
    width: auto;
  }
  .navi-contact:hover {
    border: #388cdc solid 3px;
    background-color: #388cdc;
    color: #fff;
  }
  .hamburger {
    width: auto;
    height: 3rem;
  }

/* ===ハンバーガーメニュー=== */
/* overlay-styles.css */
  .hamburger-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background-color: #505050;
    transition: all .6s;
  }

  .hamburger-overlay__line:nth-of-type(1) { top: 14px; }
  .hamburger-overlay__line:nth-of-type(2) { top: 23px; }
  .hamburger-overlay__line:nth-of-type(3) { top: 32px; }

  .menu{
    position: absolute;
    top: 36px; /* 3本線のすぐ下に配置 */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 1rem;
    color: #505050;
    transition: all .6s;
  }
  .hamburger-overlay.active .hamburger-overlay__line {
    background-color: #fff;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .hamburger-overlay.active .menu {
    color: #fff; /* メニューを開いた時に文字色を白に変更 */
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #74B4ED;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 900;
  }
  .nav-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-overlay__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .nav-overlay__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-overlay__item {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s;
  }
  .nav-overlay.active .nav-overlay__item {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
  .nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
  .nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
  .nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }

  .nav-overlay__link {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color .3s;
  }

  .nav-overlay__link:hover {
    color: #505050;
  }

    /* --overview-- */
  .overview{
    width: 100%; /* 固定幅 */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .overview-body{
    width: 70%;
    gap: 10px; 
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  .overview-box{
    width: 80%;
    min-width: 180px;
    height: 26px;
    margin: 0 auto;
    border: #bbbbbb solid 1px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

  }
  .overview-box img { width: 20px; height: auto; }
  .able{
    width: 100%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }

}

  
@media screen and (min-width:480px) and (max-width:729px){
.able-body{
    display: none;
  }
  .able{
    width: 100%; /* 固定幅 */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }
  .able-body-mobile{
    width: 90%;
    display: block;
  }
  .able-box-mobile {
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 25px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px 0;
  }
  .able-box-mobile h2,
  .able-box-mobile p {
    text-align: center;
    padding-top: 10px;
  }
  .able-box-mobile h2{
    color: #388cdc;
    font-size: 1.8rem;
  }
  .able-img-mobile{
    width: 32%;
    max-width: 250px;
    padding: 0;
    margin: 0 auto;
  }
  /* --- Features --- */
  .features {
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
  }
  .ft-body {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
  }
  .ft-box {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    padding-right: 2rem;
  }
  .ft-box h2{
    text-align: left;
    font-weight: normal;
    padding-bottom: 8px;
  }
  .ft-content{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    align-items: center;
  }
  .ft-content img{
    display: block;
    margin: 0 auto; /* 中央揃えに変更 */
  }

  .ft-p-mobile{
    display: flex;
    text-align: left;
  }
  .ft-p{
    display: none;
  }
  /* --- Record --- */
  .record {
    width: 100%;
    padding: 60px 0 40px 0;
  }
  .record-title{
    display: none;
  }
  .record-title-mobile {
    display: block;
  }
  .record-title-mobile h1,
  .record-title-mobile p {
    text-align: center;
  }
  .record-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .record-box {
    width: 90%;
    max-width: 320px;
    box-sizing: border-box;
    margin: 0;
  }

  /* --- Big CTA --- */
  .bigcta {
    width: 100%;
    height: auto;
    padding: 40px 0;
    gap: 20px;
    display: block;
  }
  .bigcta-wrapper {
   display: none;
  }
  .bigcta-wrapper-mobile {
    width: 80%;
    height: auto;
    display: block;
    background-color: #5da2e4;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px 0;
  }
  .bigcta-box-mobile {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .bc-text-mobile {
    width: 100%;     
  }
  .bc-text-mobile h2,
  .bc-text-mobile p {
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }
  .bc-btn-mobile {
    margin: 0 auto;
    width: 10px;
  }
  .bc-docimg-mobile,
  .bc-priceimg-mobile {
    width: 60%;
    max-width: 250px;
    padding: 0;
    margin: 0 auto;
  }
  .bc-priceimg-mobile{
    margin: 20px 0;
  }
  .bc-docbtn-mobile {
    height: auto;
    width: 160px;
    display: flex;
    flex-direction: row; /* 横並びを指定 */
    align-items: center; /* 上下中央揃え */
    justify-content: center; /* 左右中央揃え */
    gap: 6px;
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    color: #0c5fad;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 1.4rem;
  }
  .bc-btn-mobile:active,
  .bc-docbtn-mobile:active {
    border: #FFD966 solid 3px;
    background-color: #faf6eb;
  }

  .footer-navibar p{
    font-size: 1rem;
    padding-right: 0;
  }
}
  
/* ================================================= */
/* スマートフォン用スタイル (479px以下)           */
/* ================================================= */
@media (max-width: 479px) {
  /* --- 全体的な調整 --- */
  body {
    padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
    line-height: 1.5;
  }

  h1 { font-size: 2.2rem; margin-bottom: 20px;}
  h2 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.5rem; padding: 0.5em; margin-bottom: 20px;}
  p { font-size: 1.2rem; }

  .small { font-size: 1.8rem; }
  .medium { font-size: 2.4rem; }
  .large { font-size: 2.6rem; }
  
  .title,
  .overview-title,
  .record-title {
    padding: 2rem 0;
    margin-top: 20px;
  }

  /* --- ヘッダー --- */
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    top: 0;
  }
  .navibar-mobile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .logo-mobile {
    width: 40%;
    min-width: 110px;
  }
  .btn-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin: 0 auto;
  }
  .navi-form{
    width: 60%;
    justify-content: end;
    padding-right: 60px;
    padding-top: 10px;
  }
  .navi-contact{
    font-size: 1.2rem;
    height: 3rem;
    width: auto;
  }
  .navi-contact:hover {
    border: #388cdc solid 3px;
    background-color: #388cdc;
    color: #fff;
  }
  .hamburger {
    width: auto;
    height: 3rem;
  }

/* ===ハンバーガーメニュー=== */
/* overlay-styles.css */
  .hamburger-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background-color: #505050;
    transition: all .6s;
  }

  .hamburger-overlay__line:nth-of-type(1) { top: 14px; }
  .hamburger-overlay__line:nth-of-type(2) { top: 23px; }
  .hamburger-overlay__line:nth-of-type(3) { top: 32px; }

  .menu{
    position: absolute;
    top: 36px; /* 3本線のすぐ下に配置 */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 1rem;
    color: #505050;
    transition: all .6s;
  }
  .hamburger-overlay.active .hamburger-overlay__line {
    background-color: #fff;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .hamburger-overlay.active .menu {
    color: #fff; /* メニューを開いた時に文字色を白に変更 */
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #74B4ED;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 900;
  }
  .nav-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-overlay__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .nav-overlay__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-overlay__item {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s;
  }
  .nav-overlay.active .nav-overlay__item {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
  .nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
  .nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
  .nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }

  .nav-overlay__link {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color .3s;
  }

  .nav-overlay__link:hover {
    color: #505050;
  }

  /* --- ヒーロー --- */
  .hero-container {
    padding: 2rem 0;
  }
  .hero {
    width: 100%;
    padding: 1rem 0;
  }
  .hero-title h1{
    text-align: center;
    font-size: 2.4rem;
  }


  /* --overview-- */
  .overview{
    width: 100%; /* 固定幅 */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .overview-body{
    width: 95%;
    gap: 10px; 
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列 */
  }
  .overview-box{
    width: 135px;
    height: 30px;
    margin: 0 auto;
    border: #bbbbbb solid 1px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .overview-box img { width: 20px; height: auto; }


  /* ---able-- */
  .able-body{
    display: none;
  }
  .able{
    width: 100%; /* 固定幅 */
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
  }
  .able-body-mobile{
    width: 90%;
    display: block;
  }
  .able-box-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px 0;
  }
  .able-box-mobile h2,
  .able-box-mobile p {
    text-align: center;
    padding-top: 10px;
  }
  .able-box-mobile h2{
    color: #388cdc;
    font-size: 1.8rem;
  }
  .able-img-mobile{
    width: 32%;
    max-width: 250px;
    padding: 0;
    margin: 0 auto;
  }
  /* --- Features --- */
  .features {
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
  }
  .ft-body {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
  }
  .ft-box {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
  }
  .ft-box h2{
    text-align: left;
    font-weight: normal;
    padding-bottom: 8px;
  }
  .ft-content{
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 0;
    align-items: center;
  }
  .ft-content img{
    display: block;
    margin: 0 auto; /* 中央揃えに変更 */
  }

  .ft-content p{
    text-align: left;
  
  }

  /* --- CTA --- */
  .cta {
    width: 100%;
    padding: 40px 0;
  }
  .cta-body {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
  }
  .try-cta,
  .contact-cta {
    width: 50%;
    max-width: 320px;
  }


  /* --- Record --- */
  .record {
    width: 100%;
    padding: 60px 0 40px 0;
  }
  .record-title{
    display: none;
  }
  .record-title-mobile {
    display: block;
  }
  .record-title-mobile h1,
  .record-title-mobile p {
    text-align: center;
  }
  .record-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .record-box {
    width: 90%;
    max-width: 320px;
    box-sizing: border-box;
    margin: 0;
  }


  /* --- Big CTA --- */
  .bigcta {
    display: none;
  }
  .bigcta-mobile{
    width: 100%;
  }
  .bigcta-wrapper-mobile {
    width: 80%;
    height: auto;
    display: block;
    background-color: #5da2e4;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px 0;
  }
  .bigcta-box-mobile {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .bc-text-mobile {
    width: 100%;     
  }
  .bc-text-mobile h2,
  .bc-text-mobile p {
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }
  .bc-btn-mobile {
    margin: 0 auto;
    width: 10px;
  }
  .bc-docimg-mobile,
  .bc-priceimg-mobile {
    width: 60%;
    max-width: 250px;
    padding: 0;
    margin: 0 auto;
  }
  .bc-priceimg-mobile{
    margin: 20px 0;
  }
  .bc-docbtn-mobile {
    height: auto;
    width: 120px;
    display: flex;
    flex-direction: row; /* 横並びを指定 */
    align-items: center; /* 上下中央揃え */
    justify-content: center; /* 左右中央揃え */
    gap: 6px;
    background-color: #fff;
    padding: 1rem 1rem 1rem 2rem;
    color: #0c5fad;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    padding-left: 20px;
  }
  .bc-btn-mobile:active,
  .bc-docbtn-mobile:active {
    border: #FFD966 solid 3px;
    background-color: #faf6eb;
  }

  /* --- Footer --- */
  footer{
    display: none;
  }
  .footer-mobile {
    display: block;
    padding: 10px 0;
  }
  .footer-navibar-mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
  }
  .footer-navibar-mobile p{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1rem;
  }
  .footer-logo-mobile img {
    width: 120px;
  }
}