@charset "UTF-8";

html {
  font-size: 62.5%;
}
/* bodyのフォントサイズを1.6em（16px）に設定 */
h1{
  font-size: 2.6rem;
  color: #505050;
  font-weight: normal;
  margin-bottom: 30px;
}
h2{
  font-size: 2.0rem;
  color: #505050;
  font-weight: bold;
}
h3{
  font-size: 1.8rem;
  color: #505050;
  font-weight: normal;
}
h4{
  font-size: 1.7rem;
  color: #388cdc;
  font-weight: bold;
}
p{
font-size: 1.6rem; 
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  padding-top: 100px;
}
a {
  text-decoration: none;
  font-style: 2rem;
}

.title,
.plan-title,
.table-title,
.support-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem 2rem;
  margin-top: 33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem 2rem;
  margin-top: 33px;
}
/* ================================================= */
/* PC用スタイル (960px以上)
/* ================================================= */

/* ----header---- */
.header-mobile {
  display: none;
}
.header {
  background-color: #fff;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  top: 0;
}
.navibar{
  display: grid;
  align-items: center;
  width: 980px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 3.6rem;
}
.logo {
  grid-column: 1;
}
.logo img{
  height: auto;
  width: 80%;
}
.navi-page {
  grid-column: 2;
  display: flex;
  text-align: center;
  justify-self: center; 
  gap: 30px;   
}
.navi-page a{
  color: #505050;
  font-size: 1.6rem;
  margin-right: 20px; 
}
.navi-form {
  grid-column: 3;
  display: flex;
  gap: 16px; 
  font-size: 1.6rem;
}
/* Buttons */
.navi-docform {
  height: 36px;
  width: 125px;
  background: #fff; 
  border-radius: 4px;
  border: #388cdc solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #388cdc;
  font-weight: bold;
}
.navi-docform:hover {
  border: #388cdc solid 3px;
  background-color: #388cdc;
  color: #fff;
}
.navi-contact {
  height: 36px;
  width: 125px;
  background: #f07fc0; 
  border: #f07fc0 solid 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #fff;
  font-weight: bold;
}
.navi-contact:hover,
.navi-contact:active {
  background-color: #ee3ea4;
  border: #ee3ea4 solid 3px;
}

/* ----hero---- */
.hero-container { background: #388cdc; }
.hero{
  width: 980px; /* 固定幅 */
  margin: 0 auto; 
  display: flex;
  padding: 65px 2rem;
  justify-content: center;
  align-items: center;
}
.hero-title h1 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  padding-top: 0;
}
.hero-title p {
  text-align: center;
  margin-top: 16px;
  color: #fff;
}

/* ----plan--- */
.plan-container{
  background: #f1f8ff;
}
.plan{
  width: 100%;
  max-width: 980px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.plan-body {
  display: flex; /* 横並びにする */
  gap: 18px; /* ボックス間の隙間 */
}

.plan-box {
  display: flex;
  flex-direction: column; /* 縦方向に整列 */
  justify-content: flex-start; /* 上揃えにする */
  align-items: center; /* 左右中央に寄せる */
  width: calc(50% - 9px); /* 横幅を設定（gapを考慮して調整） */
  background-color: #fff; /* 背景色の指定（必要に応じて変更） */
  padding: 20px 20px;
  border: #ddd solid 2px;
  margin-top: 30px;
}

.plan-text {
  display: flex;
  flex-direction: column; /* 縦にテキストを並べる */
  align-items: center; /* 左右中央寄せ */
  justify-content: flex-start; /* 上揃えにする */
  height: 150px; /* 高さを固定 */
}
.plan-text h2{
  margin-bottom: 20px;
}
.plan-text p {
  display: flex; /* Flexboxを使用 */
  align-items: flex-start; /* テキストを上揃えにする */
}
.large {
  font-size: 24px;
  color: #ee3ea4;
  font-weight: bold;
}
.primary-btn {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  margin-top: auto; /* 下に配置 */
  height: auto; /* ボタンの高さ */
  width: auto; /* ボタンの幅 */
  color: #388cdc;
  font-weight: bold;
  border-radius: 50px; /* ボタンの角を丸く */
  text-decoration: none; /* テキスト装飾を削除 */
  font-size: 1.4rem;
  background: #fff; 
  border: #388cdc solid 3px;
  gap: 16px;
  padding: 1rem 2rem;
}
.primary-btn img {
  width: 20px;
  height: 20px;
}
.primary-btn:hover {
  background-color: #388cdc;
  color: #fff;
}


/* ----table---- */
.table-container{
    background: #fff;
}
.table{
  width: 980px;
  height: auto;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.table-body-mobile{
  display: none;
}
.table-body{
  width: 60%;
  height: auto;
  margin-top: 30px;
  justify-content: center;
}
.table-body img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.table-body p{
  font-size: 16px;
}

/*----support----*/
.support-container {
  background: #f1f8ff;
}
.support{
  width: 980px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.support-body{
  width: 100%;
  display: flex;
  flex-direction: row;/* 縦並び */
  gap: 40px; 
  align-items: center; /* 中央配置 */
  justify-content: center; /* 中央配置 */
  padding: 2rem 2rem;
}
.support-img {
  width: 40%;
  display: flex;
  justify-content: flex-end; /* 画像を右寄せ */
  align-items: center;
}
.support-img img{
  width: 50%;
  margin: 0;
}
.support-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 右寄せ */
  text-align: left;     /* テキストも右寄せ */
  gap: 20px;
}
.support-text p{
  text-align: left;
}

/* ----simulation---- */
.simulation-container {
  background: #fff;
  margin-top: 20px;
}
.simulation{
  width: 980px;
  margin: 0 auto; 
  padding-bottom: 40px;
  justify-items: center;
}
.simulation-body-mobile{
  display: none;
}
.simulation-body{
  width: 80%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: #388cdc solid 4px;
}
.simulation-box1{
  height: 100%;
  background-color: #388cdc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simulation-box2{
  width: 100%;
  justify-items: center;
}
.simulation-box1 h2{
  color: #fff;
}
.simulation-box2 h2{
  margin-bottom: 20px;
}


/* ----faq---- */
.faq-container{
  background: #fff;
}
.faq{
  width: 700px;
  margin: 0 auto; 
  padding: 95px 0 70px 0;
}
.faq-body .faq_actab {
  position: relative;
  width: 100%;
  margin: 0 0 1em 0;
  color: #505050;
}
.faq-body .faq_actab input {
  display: none;
}
/* 質問 */
.faq-body .faq_actab label {
  line-height: 1.6em;
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 1em 2em 1em 2.5em;
  cursor: pointer;
  text-indent: 1em;
  font-size: 1.5rem;
}
.faq-body .faq_actab label::before {
  content: 'Q';
  color: #FFA601;
  font-size: 1.5em;
  margin-left: -2em;
  padding-right: 0.5em;
}
.faq-body .faq_actab label:hover {
  color: #388cdc;
  transition: all 0.3s;
}
/* --質問の＋アイコン */
.faq-body .faq_actab label::after {
  position: absolute;
  top: 0;
  right: 0;
  content: url('../img/faq.png');
  z-index: 99;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 2em;
  display: inline-block;
  width: 2em;
  height: 2em;
  transition: transform 0.3s;
}
/* 答え */
.faq-body .faq_actab .faq_actab-content {
  position: relative;
  overflow: hidden;
  max-height: 0;
  padding: 0 0 0 2.5em;
  border-radius: 0 0 0.5em 0.5em;
  transition: max-height 0.2s;
}
.faq-body .faq_actab .faq_actab-content::before {
  position: absolute;
  content: 'A';
  color: #FFA601;
  font-size: 1.8rem;
  margin: 1em 0 0 -1em;
  padding-left: 2rem;
}
.faq-body .faq_actab .faq_actab-content p {
  margin: 1em 1em 1em 0;
  padding-left: 2rem;
  font-size: 1.5rem;
}
.faq-body .faq_actab .faq_actab-content a{
  text-decoration: none;
  color: #0c5fad;
  font-weight: 500;
}
/* 質問を開いた時の仕様 */
.faq-body .faq_actab input:checked ~ .faq_actab-content {
  max-height: 40em;
}
/* 質問をクリックした時のアイコンの動き */
.faq-body .faq_actab input:checked ~ label {
  color: #388cdc;
  border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.faq-body .faq_actab input[type=checkbox]:checked + label::after {
  content: url('../img/close.png');
  color: #505050;
}

/* ----contact-form---- */
.contact-container{
  background: #5da2e4
}
.contact{
  width: 980px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 2rem 0 2rem;
  gap: 6px;
}
.contact-box{
  height: auto;
  width: 80%;
  border-radius: 16px; 
  overflow: hidden; 
  padding: 18px 50px; 
  position: relative;
  z-index: 1;
}
.contact-text{
  padding-bottom: 20px;
}
.contact-text h2{
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px; 
}
.contact-text p{
  text-align: left; 
  flex: 1; 
  color: #fff;
  font-weight:bold;
  font-style: 24px;
  padding-bottom:20px
}
.contact-btn {
 height: 50px;
  width: 230px;
  background: #f07fc0; 
  border-radius: 4px;
  border: #f07fc0 solid 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 8px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.contact-btn:hover,
.contact-btn:active {
  background-color: #ee3ea4;
  border: #ee3ea4 solid 3px;
}
.contact-btn img {
  width: 20px;
  height: 20px;
}
.contact-box::before {
  content: '';
  position: absolute;
  top: 37%; 
  transform: translateY(-20%); /* 理論はわかっていない */
  right: 10px; 
  width: 400px; 
  height: 260px;
  background-image: url('../img/info_img.png'); 
  background-size: contain;
  background-repeat: no-repeat; 
  z-index: 99; 
}

/* --footer-- */
.footer {
  height: 50px;
}
.footer-navibar{
  width: 90%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #fff;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.footer-logo{
  grid-column: 1;
}
.footer-logo img{
  width: 150px;
  height: auto;
  padding-left: 30px;
}
footer p{
  padding-right: 30px;
  grid-column: 2;
}

.footer-mobile {
  display: none;
}
/* ================================================= */
/* タブレット用スタイル (480px~959px)             */
/* ================================================= */
@media screen and (min-width:480px) and (max-width:959px) {
/* --- コンテナの横幅を固定から可変に --- */ 
  .navibar, .hero, .overview, .able, .features, .cta, .record, .bigcta, footer .naviber {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
  body {
    padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
    line-height: 1.5;
  }

  h1 { font-size: 2.2rem; margin-bottom: 20px;}
  h2 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.5rem; padding: 0.5em; margin-bottom: 20px;}
  p { font-size: 1.5rem; }

  .small { font-size: 1.4rem; }
  .medium { font-size: 2rem; }
  .large { font-size: 2.2rem; }
  
  .title {
    padding: 2rem 1rem;
    margin-top: 20px;
  }
  /* --- ヘッダー --- */
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    top: 0;
  }
  .navibar-mobile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .logo-mobile {
    width: 40%;
    min-width: 110px;
  }
  .btn-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin: 0 auto;
  }
  .navi-form{
    width: 60%;
    justify-content: end;
    padding-right: 60px;
    padding-top: 10px;
  }
  .navi-contact{
    font-size: 1.2rem;
    height: 3rem;
    width: auto;
  }
  .navi-contact:hover {
    border: #388cdc solid 3px;
    background-color: #388cdc;
    color: #fff;
  }
  .hamburger {
    width: auto;
    height: 3rem;
  }

/* ===ハンバーガーメニュー=== */
/* overlay-styles.css */
  .hamburger-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  h5{
    font-size: 1.3rem;
  }
  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background-color: #505050;
    transition: all .6s;
  }

  .hamburger-overlay__line:nth-of-type(1) { top: 14px; }
  .hamburger-overlay__line:nth-of-type(2) { top: 23px; }
  .hamburger-overlay__line:nth-of-type(3) { top: 32px; }

  .menu{
    position: absolute;
    top: 36px; /* 3本線のすぐ下に配置 */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 1rem;
    color: #505050;
    transition: all .6s;
  }
  .hamburger-overlay.active .hamburger-overlay__line {
    background-color: #fff;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .hamburger-overlay.active .menu {
    color: #fff; /* メニューを開いた時に文字色を白に変更 */
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #74B4ED;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 900;
  }
  .nav-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-overlay__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .nav-overlay__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-overlay__item {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s;
  }
  .nav-overlay.active .nav-overlay__item {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
  .nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
  .nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
  .nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }

  .nav-overlay__link {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color .3s;
  }

  .nav-overlay__link:hover {
    color: #505050;
  }
  /* ----hero---- */
  .hero-top{
  gap: 10px; 
}
  .hero-img img{
    min-width: 200px;
  }
  .hero-cta{
    width: 100%;
  }
  .hero-mobile-p{
    display: none;
  }

  .btn1-small, .btn2-small { font-size: 1.2rem; }
  .btn1-medium, .btn2-medium { font-size: 1.4rem; }

  .dl-btn,
  .try-btn{
    width: 80px;
    height: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50px;
    padding: 0 20px;
  }

  /* ----table--- */
  .table{
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
    align-items: center;
  }
  .table-body{
    display: none;
  }
  .table-body-mobile {
    width: 90%;
    max-width: 320px;
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  .table-body-mobile img{
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .table-body-mobile p{
    font-size: 1.2rem;  
  }
  /* --- support --- */
  .support {
    width: 100%;
    padding: 20px 0 40px 0;
  }
  .support-body {
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
  }
  .support-img{
    width: 65%;
    margin-top: 10px;
  }
  .support-text {
    display: block;
    text-align: center;
    width: 90%;

  }
  .support-img img {
    width: 60%;
    max-width: 170px;
    margin: 0 auto;
  }
  .support-p {
    display: none;
  }
  .support-mobile-p{
    display: inline-block;
    text-align: center;
  }
  .points{
    display: inline-block;
    padding-top: 10px;
  }
  .points p{
    text-align: left;
  }
  /* ====simulation-cta==== */
  .simulation{
    width: 100%;
    padding: 2rem 0rem;
  }
  .simulation-body-mobile {
    display: inline-block;
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
    margin: 0 auto;
    background-color: #388cdc;
    width: 100%;
    gap: 30px;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .simulation-body{
    display: none;
  }
  .simulation-body-mobile h2{
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
  
  }
  .cta-primary-btn {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    margin: 20px auto 0 auto; /* 下に配置 */
    height: auto; /* ボタンの高さ */
    width: 120px; /* ボタンの幅 */
    color: #388cdc;
    font-weight: bold;
    border-radius: 50px; /* ボタンの角を丸く */
    text-decoration: none; /* テキスト装飾を削除 */
    font-size: 1.4rem;
    background: #fff; 
    border: #388cdc solid 3px;
    gap: 16px;
    padding: 1rem 2rem;
  }
  .cta-primary-btn img {
    width: 20px;
    height: 20px;
  }
  .cta-primary-btn:active {
    border: #0a58a1 solid 3px;
    background-color: #0c5fad;
    color: #fff;
  }
  /* --- FAQ --- */
  .faq {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .faq h1 {
    text-align: center;
  }
  .faq-body .faq_actab label::after{
    display: none
  }
  .faq-body .faq_actab label {
    padding: 1em 2.5em 1em 4.5em;
    text-indent: 0;
    font-size: 1.5rem;
  }
  .faq-body .faq_actab .faq_actab-content::before {
    padding-left: 1rem;
    margin: 1em 0 0 -1em;
    padding-left: 2rem;
    content:none;
  }
  .faq-body .faq_actab .faq_actab-content p{
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  /* --- Contact Form --- */
  .contact {
    width: 100%;
    padding: 0;
  }
  .contact-text h2{
    font-size: 2.2rem;
    text-align: center;
  }
  .contact-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .contact-text h2,
  .contact-text p {
    text-align: center;
  }
  .contact-btn {
    margin: 0 auto;
  }
  /* スマホでは背景イラストを非表示 */
  .contact-box::before {
    display: none;
  }
}
/* タブレットとの間 */
@media screen and (min-width:480px) and (max-width:580px){
  .footer-navibar p{
    font-size: 1rem;
    padding-right: 0;
  }
}

/* ================================================= */
/* スマートフォン用スタイル (479px以下)           */
/* ================================================= */
@media (max-width: 479px) {
  /* --- 全体的な調整 --- */
  body {
    padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
    line-height: 1.5;
  }

  h1 { font-size: 2.2rem; margin-bottom: 20px;}
  h2 { font-size: 1.8rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.5rem; padding: 0.5em; margin-bottom: 20px;}
  p { font-size: 1.2rem; }

  .small { font-size: 1.8rem; }
  .medium { font-size: 2.4rem; }
  .large { font-size: 2.6rem; }
  
  .title,
  .overview-title,
  .record-title {
    padding: 2rem 0;
    margin-top: 20px;
  }

  /* --- ヘッダー --- */
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    height: 80px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    top: 0;
  }
  .navibar-mobile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .logo-mobile {
    width: 40%;
    min-width: 110px;
  }
  .btn-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin: 0 auto;
  }
  .navi-form{
    width: 60%;
    justify-content: end;
    padding-right: 60px;
    padding-top: 10px;
  }
  .navi-contact{
    font-size: 1.2rem;
    height: 3rem;
    width: auto;
  }
  .navi-contact:hover {
    border: #388cdc solid 3px;
    background-color: #388cdc;
    color: #fff;
  }
  .hamburger {
    width: auto;
    height: 3rem;
  }

/* ===ハンバーガーメニュー=== */
/* overlay-styles.css */
  .hamburger-overlay {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .hamburger-overlay__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    background-color: #505050;
    transition: all .6s;
  }

  .hamburger-overlay__line:nth-of-type(1) { top: 14px; }
  .hamburger-overlay__line:nth-of-type(2) { top: 23px; }
  .hamburger-overlay__line:nth-of-type(3) { top: 32px; }

  .menu{
    position: absolute;
    top: 36px; /* 3本線のすぐ下に配置 */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 1rem;
    color: #505050;
    transition: all .6s;
  }
  .hamburger-overlay.active .hamburger-overlay__line {
    background-color: #fff;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
    transform: translateY(-9px) rotate(45deg);
  }
  .hamburger-overlay.active .menu {
    color: #fff; /* メニューを開いた時に文字色を白に変更 */
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #74B4ED;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 900;
  }
  .nav-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .nav-overlay__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .nav-overlay__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-overlay__item {
    opacity: 0;
    transform: translateY(20px);
    transition: all .6s;
  }
  .nav-overlay.active .nav-overlay__item {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
  .nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
  .nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
  .nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }

  .nav-overlay__link {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color .3s;
  }

  .nav-overlay__link:hover {
    color: #505050;
  }

  /* --- ヒーロー --- */
  .hero-container {
    padding: 2rem 0;
  }
  .hero {
    width: 100%;
    padding: 1rem 0;
  }
  .hero-title h1{
    text-align: center;
    font-size: 2.4rem;
  }
  .hero-title .hero-mobile-p{
    display: block;
  }
  .hero-title p{
    display: none;
  }


  /* ---plan--- */
  .plan {
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
    align-items: center;
  }
  .plan-body {
    width: 75%;
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  .plan-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .primary-btn{
    width: 50%;
    height: auto;
    padding: 7px 0;
    margin: 0 auto;
  }
  .plan-text{
    height: auto;
  }

/* ----table--- */
  .table{
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
    align-items: center;
  }
  .table-body{
    display: none;
  }
  .table-body-mobile {
    width: 90%;
    height: auto;
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  .table-body-mobile img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .table-body-mobile p{
    font-size: 1.2rem;  
  }

  /* --- support --- */
  .support {
    width: 100%;
    padding: 20px 0 40px 0;
  }
  .support-body {
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
  }
  .support-img{
    width: 65%;
    margin-top: 10px;
  }
  .support-text {
    display: block;
    text-align: center;
    width: 90%;

  }
  .support-img img {
    width: 60%;
    margin: 0 auto;
  }
  .support-text p {
    text-align: center;
  }
  .points{
    display: inline-block;
    padding-top: 10px;
  }
  .points p{
    text-align: left;
  }

  .support-mobile-p{
    display: none;
  }
  

  /* ====simulation-cta==== */
  .simulation{
    width: 100%;
    padding: 2rem 0rem;
  }
  .simulation-body-mobile {
    display: inline-block;
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
    margin: 0 auto;
    background-color: #388cdc;
    width: 100%;
    gap: 30px;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .simulation-body{
    display: none;
  }
  .simulation-body-mobile h2{
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
  
  }
  .cta-primary-btn {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    margin: 20px auto 0 auto; /* 下に配置 */
    height: auto; /* ボタンの高さ */
    width: 120px; /* ボタンの幅 */
    color: #388cdc;
    font-weight: bold;
    border-radius: 50px; /* ボタンの角を丸く */
    text-decoration: none; /* テキスト装飾を削除 */
    font-size: 1.4rem;
    background: #fff; 
    border: #388cdc solid 3px;
    gap: 16px;
    padding: 1rem 2rem;
  }
  .cta-primary-btn img {
    width: 20px;
    height: 20px;
  }
  .cta-primary-btn:active {
    border: #0a58a1 solid 3px;
    background-color: #0c5fad;
    color: #fff;
  }
  /* --- FAQ --- */
  .faq {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .faq h1 {
    text-align: center;
  }
  .faq-body .faq_actab label::after{
    display: none
  }
  .faq-body .faq_actab label {
    padding: 1em 2.5em 1em 4.5em;
    text-indent: 0;
    font-size: 1.2rem;
  }
  .faq-body .faq_actab .faq_actab-content p,
  .faq-body .faq_actab .faq_actab-content::before {
    padding-left: 0.5rem;
  }

/* --- Contact Form --- */
  .contact {
    width: 100%;
    padding: 0;
  }
  .contact-text h2{
    font-size: 2.2rem;
    text-align: center;
  }
  .contact-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .contact-text h2,
  .contact-text p {
    text-align: center;
  }
  .contact-btn {
    margin: 0 auto;
  }
  
  /* スマホでは背景イラストを非表示 */
  .contact-box::before {
    display: none;
  }

  /* --- Footer --- */
  footer{
    display: none;
  }
  .footer-mobile {
    display: block;
    padding: 10px 0;
  }
  .footer-navibar-mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
  }
  .footer-navibar-mobile p{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 1rem;
  }
  .footer-logo-mobile img{
    width: 120px;
  }
}